* {
  text-decoration: none;
  color: black;
  text-align: center;
}
.App {
  /* padding: 50px; */
  text-align: center;
  /* height: auto;
  width: auto;  */
  /* margin: 50px; */
  background-image:
  url('https://i.imgur.com/a6xhsJW.jpg?1') ;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}



