.book-container {
  padding-top: 250px;
  margin-left: auto;
  margin-right: auto;
}

.book-detail {
  object-fit: contain;
  background-color: yellow;
  width: 700px;
  padding: 10px;
  justify-content: center;
  border: 2px solid #000;
  border-radius: 15px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  text-align: left;
  align-items: stretch;
  grid-template-columns: 1fr 2fr;
  grid-gap: 10px;
} 

.book-cover {
  padding: 20px;
}

.title {
  color: black;
}

.review-container {
  object-fit: contain;
  background-position: "center center";
  background-repeat: "no-repeat";
  background-color: yellow;
  width: 700px;
  justify-content: center;
  border: 2px solid #000;
  border-radius: 15px;
  padding: 30px;
  margin-left: auto;
  margin-right: auto;
}